p {
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input {
     color: #000000;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
}
button {
    color: #ffffff;
background-color: rgb(89, 113, 179);
border-radius: 5%;
border: none;
text-align: center;
cursor: pointer;
padding: 10px 26px;

}
body {
    display: flex;
justify-content: center;

}
.butao{
    background-color: burlywood;
}