p {
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {

  background-color: #007bff;
  color: white;
  padding: 10px 20px; 
  text-decoration: none; 
  border-radius: 5px; 
  display: inline-block;
  font-family: sans-serif;
display: block;
  text-align: center;
  
    
}